* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* MODIFICACIONES DE ESTILO PAGINA INDEX */
/* banner howards */
.bodyindex {
    
    background: url(../imagenes/Details/fondopergamino.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}



/*Barra de navegacion*/

/* Barra de navegación */
.navbar {
    background: transparent;
    z-index: 1000;
}

.navbar a {
    color: antiquewhite;
    transition: transform 0.3s ease;
}

.logo {
    width: 7vw;
    height: auto;
}

.escudobarradenav1,
.escudobarradenav2,
.escudobarradenav3,
.escudobarradenav4,
.escudobarradenav5 {
    margin-top: 2vh;
    margin-left: 2vw;
    width: 4vw;
    transition: 0.5s;
}

.escudobarradenav1:hover,
.escudobarradenav2:hover,
.escudobarradenav3:hover,
.escudobarradenav4:hover,
.escudobarradenav5:hover {
    width: 5vw;
    height: auto;
}

header{height: 14vh;}



/* imagen banner */

/* logo HP dorado */
.contenedo {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 77.3vh;
  
}


/* Footer */

footer {
    background-color: black;
    color: antiquewhite;
    padding: 10px;

}

.footer1 {
    width: 5vw;
}

.footer2 {
    width: 5vw;
}

.piedepag {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}


.detailCard {animation: aparicion 5500ms ease;}

.ImagenD{height: 30vh;
width: 30vw;}

@keyframes aparicion{

    0% {filter: opacity(0.1);}

    100% {filter: opacity(1);}
}

.mapaIzquierdo{position: absolute;
z-index: 1;
height:82vh ;
right: 70%;
top: 9.3%;
width: 30vw;
animation: dizquierdo 2500ms ease-out;}
@keyframes dizquierdo {
    0%{right: 50%;}
    100%{right:70% ;}
    
}

.mapaDerecho{position: absolute;
    left: 70% ;
z-index: 1;
height: 82vh;
top: 9.3%;
width: 30vw;
animation: dderecho 2500ms ease-out;}

@keyframes dderecho {
    0%{left: 50%;}
    100%{left:70% ;} 
}
