/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* MODIFICACIONES DE ESTILO PAGINA INDEX */

/* Barra de navegación */
.navbar {
    background: transparent;
    z-index: 1000;
}

.navbar a {
    color: antiquewhite;
    transition: transform 0.3s ease;
}

.logo {
    width: 7vw;
    height: auto;
}

.escudobarradenav1{
    margin-top: 2vh;
    width: 4vw;
    transition: 0.5s;}
.escudobarradenav2,
.escudobarradenav3,
.escudobarradenav4,
.escudobarradenav5 {
    margin-top: 2vh;
    margin-left: 1vw;
    margin-left: 1vw;
    width: 4vw;
    transition: 0.5s;
}

.escudobarradenav1:hover,
.escudobarradenav2:hover,
.escudobarradenav3:hover,
.escudobarradenav4:hover,
.escudobarradenav5:hover {
    width: 5vw;
    height: auto;
}

/* banner howards */
.bodyindex {
    background: url(../imagenes/castillo/Magic\ Studio\ Magic\ Expand\ L&P.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

}
.bodyindexG {
    background: url(../imagenes/Comedores/comedor\ griffin.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.bodyindexH {
    background: url(../imagenes/Comedores/comedor\ hufle.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.bodyindexR {
    background: url(../imagenes/Comedores/comedor\ reven.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.bodyindexS {
    background: url(../imagenes/Comedores/comedor\ sly.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.bodyindexD {

    background: url(../imagenes/Details/fondopergamino.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

body {
    background-color: #243046;
}



/* INTERMEDIO ENTRE BANNER Y descrpcion */
.trancision {
    display: flex;
    justify-content: center;
    background: linear-gradient(#293A54, #00021D);
    height: 10vh;
}
.trancisionG {
    display: flex;
    justify-content: center;
    background: linear-gradient(#865836, #85432B);
    height: 10vh;
}

.trancision img {
    width: 10vw;
}

/* imagen banner */
/* logo HP dorado */
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh;
}

.logohp {
    width: 50vw;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.logohp:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}
.logohpC {
    width: 20vw;
    height: auto;
}

.logohpC:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

/* ESCUDO DE LAS CASAS*/
.escudoh {
    width: 15vw;
}

/* TARJETAS DE LAS CASAS*/



.imagenfondosliderG{
    background: url(/imagenes/grifindor/grifin1.jpeg);
}
.imagenfondosliderH{
    background: url(/imagenes/personajes/15.jpg);
}
.imagenfondosliderR {
    background: url(../imagenes/personajes/14.jpg);
}
.imagenfondosliderS {
    background: url(../imagenes/personajes/17.jpg);
}
.fondo-tarjetas{
    position: absolute;
}

.card{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #fff;
    position: relative;
    box-shadow: 2px 1px 20px 1px rgba(255,255,255,1);
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.cardCSS{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
}

.card:hover .card-body{
    right: 0;
}

.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}

.card-sub-title{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.card-info{
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}

.card-btn{
    color: #1f3d47;
    background: #8fabba;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}


.fondomain {
    background: url(../imagenes/personajes/barita.jpg);
    background-size: cover;
    background-position: center center;
}

.card1 {
    box-shadow: -1px 4px 30px 0px rgba(254, 246, 209, 1);
    position: relative;
    width: 250px;
    transition: transform .3s ease;
}

.card1 img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

.card1 img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}

.card1:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

.card1::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 95%);
    opacity: 0;
    transition: all .3s ease;
}

.card1:hover::before {
    opacity: 1;
}

.card1:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

/*Descrpcion harry potter*/

.fondodescrpcion {
    background: url(../imagenes/castillo/color.jpg);
    background-size: 100vw 100vh;
}

.descripcion {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    text-shadow: 1px 5px 1px rgb(54, 54, 54);
}

.fotodescripcion {
    width: 20vw;
}

/*Estilos de las tarjetas extraibles*/

.fondoextraibles {
    background: url(../imagenes/Comedores/biblioteca.jpg);
    backdrop-filter: blur(50px);
    color: #fff;
}



.extraible {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: -1px 4px 30px 0px rgba(254, 246, 209, 1);
    height: 80vh;
    border-radius: 50px;
    flex: 0.5;
    position: relative;
    transition: flex 0.5s ease-in;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.panel h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.4s ease-in 0.4s;
}

@media(max-width:480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}



/* Footer */
footer {
    background-color: black;
    color: antiquewhite;
    padding: 10px;

}

.footer1 {
    width: 7vw;
}

.footer2 {
    width: 5vw;
    width: 5vw;
}

.piedepag {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.g3{font-size: 20px ;}

/* Modificaciones para página de dos casas */
.contenedo {
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 78.6vh;
  
}
.headerD{height: 14.7vh;}
.casasbody {
    background-color: #070404;
}


.detailCard {animation: aparicion 5500ms ease;
}

.ImagenD{height: 30vh;
width: 30vw;}

@keyframes aparicion{

    0% {filter: opacity(0.1);}

    100% {filter: opacity(1);}
}

.mapaIzquierdo{position: absolute;
z-index: 1;
height:84vh ;
right: 65%;
top: 9.3%;
width: 30vw;
animation: dizquierdo 2500ms ease-out;}

@keyframes dizquierdo {
    0%{right: 50%;}
    100%{right:65% ;}
    
}

.mapaDerecho{position: absolute;
    left: 65% ;
z-index: 1;
height: 84vh;
top: 9.3%;
width: 30vw;
animation: dderecho 2500ms ease-out;}

@keyframes dderecho {
    0%{left: 50%;}
    100%{left:65% ;} 
}
.imagenFaltante{
height: 65vh;
  } 
 .fo{font-size: 15px;}
