* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* MODIFICACIONES DE ESTILO PAGINA INDEX */
/* banner howards */
.bodyindex {
    background: url(../imagenes/castillo/Magic\ Studio\ Magic\ Expand\ L&P.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

body {
    background-color: #243046;
}


/*Barra de navegacion*/

.navbar {
    background: transparent;

}

.navbar a {
    color: antiquewhite;
}

.logo {
    width: 7vw;
    height: auto;
}


/*INTERMEDIO ENTRE BANNER Y TARJETAS*/
.trancision {
    display: flex;
    justify-content: center;
    background: linear-gradient(#293A54, #00021D);
    height: 10vh;
}


.trancision img {
    width: 10vw;
}


/* imagen banner */

/* logo HP dorado */
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh;
}

.logohp {
    width: 50vw;
    height: auto;
}


/*ESCUDo*/

.escudoh {
    width: 15vw;
}

/*TAARJETAS*/

.fondomain {
    background: url(../imagenes/castillo/4.jpg);
}

.card {
    box-shadow: -1px 4px 30px 0px rgba(254, 246, 209, 1);
    position: relative;
    width: 250px;
    transition: all .3s;
}



.card img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

.card img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}

.card:hover {
    transform:
        perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

.card::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image:
        linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, ) 95%);
    opacity: 0;
    transition: all .3s ease;
}

.card:hover::before {
    opacity: 1;
}

.card:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

/* Footer */

footer {
    background-color: black;
    color: antiquewhite;
    padding: 20px;

}

.footer1 {
    width: 10vw;
}

.footer2 {
    width: 10vw;
}

.piedepag {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* MODIFICACION PAGINA DOS CASAS */

.casasbody {
    background-color: #070404;
}